﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    Hello, the time is @ViewBag.currentTime <br />
    <a asp-action="Supervisor">Click to see supervisors</a>
</body>
</html>
