﻿
@{
    Layout = null;
}

@model List<Supervisor>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supervisor</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Subject</th>
            </tr>
            @foreach(Supervisor sup in Model)
            {
                @:<tr> <td>@sup.Id</td> <td>@sup.Name</td> <td>@sup.Subject</td> </tr>
            }
        </table>
    </div>
</body>
</html>
